<header class="header">
    <nav class="nav-container">
        <a href="/" class="logo">
            <img src="images/Saafe-Registered-logo-01.png" alt="Saafe Logo">
        </a>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="aboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>About Us</span><span class="dropdown-arrow"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="aboutDropdown">
                    <a class="dropdown-item" href="about.html">Leadership Team</a>
                    <a class="dropdown-item" href="board-advisor.html">Board & Advisor</a>
                </div>
            </li>
            <li><a href="https://docs.saafe.in/" target="_blank">Developers</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="login.html" class="login-btn">Login</a></li>
        </ul>
    </nav>
    <div class="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header> 